body{
    font-family: 'Arial', sans-serif;
}

body{
    text-align: center;
}

a{
    text-decoration: none;
    background-color: #007AFF;
    max-width: 300px;
    max-height: 100px;
    flex-grow: 1;
    padding: 0.5rem;
    font-weight: 500;
    border: 2px solid;
    color: white;
    text-align: center;
}