body{
    font-family: 'Arial', sans-serif;
}

.taskTable{
    background-color: white;
    color: #000;
}

thead{
    background-color: darkgray;
}

.taskTable>th,tr>*{
    font-size: 1rem;
    padding: 20px;
}

td {
    text-align: center;
}

.taskButton{
    background-color: #007AFF;
}

.taskButton > *{
    color: white;
}

a {
    text-decoration: none;
}

.categories > ul > li{
    text-align: center;
    max-width: 200px;
    flex-grow: 1;
    padding: 0.5rem;
    font-weight: 500;
    border: 2px solid;
    color: white;
    opacity: 0.8;
}

.categories > ul > li:hover {
    opacity: 1;
}

.categories > ul > li > a {
    color: white;
    text-align: center;
}

.categories > ul > li {
    background-color: #007AFF;
}
