.menuList{
    flex: 0%;
}

.userChoice{
    text-align: center;
}

.userChoice > ul{
    display:flex;
    justify-content:center;
    position: center;
}

.userChoice > ul > li{
text-align: center;
max-width: 200px;
flex-grow: 1;
padding: 0.5rem;
font-weight: 500;
border: 2px solid;
color: white;
opacity: 0.8;
}
/*
.userChoice > ul > li:hover {
opacity: 1;
}
*/
.userChoice > ul > li > a {
    color: white;
    text-align: center;
}

.userChoice > ul > li {
    background-color: #007AFF;
}